################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudHelper/StudHelper/bin/Debug/net5.0
/StudHelper/StudHelper/obj
