@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class=" header">
    <h1>Task name </h1>
</div>

<div class=" maininfo">
    <div class="description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
        </p>
    </div>
    <h4>Required Skils</h4>

    <div class=" skills">
        <ul>
            <li>Programming</li>
            <li>Walking</li>
            <li>Sleeping</li>
            <li>Gaming</li>
            <li>Writing</li>
            <li>Smoking</li>
        </ul>
    </div>

    <div class="userInputInfo">
        <label for="userInput">Write Your Description HERE</label><br />
        <textarea id="userInput" name=" userInput" rows=" 5" cols=" 90"></textarea>
    </div>
</div>
