@page
@model StudHelper.Pages.MyTasks.EditModel

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Task.Id" />
            <div class="form-group d-none">
                <label asp-for="Task.EmployerId" class="control-label"></label>
                <select asp-for="Task.EmployerId" class="form-control" asp-items="ViewBag.EmployerId"></select>
                <span asp-validation-for="Task.EmployerId" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Task.EmployeeId" class="control-label"></label>
                <select asp-for="Task.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="Task.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Description" class="control-label"></label>
                <textarea asp-for="Task.Description" id="userInput" rows=" 5" cols=" 90" class=" form-control"></textarea>
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.MinPrice" class="control-label"></label>
                <input asp-for="Task.MinPrice" class="form-control" />
                <span asp-validation-for="Task.MinPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.MaxPrice" class="control-label"></label>
                <input asp-for="Task.MaxPrice" class="form-control" />
                <span asp-validation-for="Task.MaxPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Status" class="control-label"></label>
                <input asp-for="Task.Status" class="form-control" />
                <span asp-validation-for="Task.Status" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Task.EmployerReviewDescr" class="control-label"></label>
                <input asp-for="Task.EmployerReviewDescr" class="form-control" />
                <span asp-validation-for="Task.EmployerReviewDescr" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Task.EmployeeReviewDescr" class="control-label"></label>
                <input asp-for="Task.EmployeeReviewDescr" class="form-control" />
                <span asp-validation-for="Task.EmployeeReviewDescr" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Task.EmployerRating" class="control-label"></label>
                <input asp-for="Task.EmployerRating" class="form-control" />
                <span asp-validation-for="Task.EmployerRating" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Task.EmployeeRating" class="control-label"></label>
                <input asp-for="Task.EmployeeRating" class="form-control" />
                <span asp-validation-for="Task.EmployeeRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
